@*
   
*@
@{
}

<h1 class="text-center">Contact US</h1>
<div class="container mt-5 ml-5">
    <form asp-action="Contacts">
        <div asp-validation-summary="ModelOnly" class="row g-3 needs-validation" novalidate></div>
      
        <div class="col-6  ">
            <label for="validationCustom03" class="form-label">Name</label>
            <textarea class="form-control" id="validationCustom03" placeholder="Enter your Email Address" name="message" rows="2" required></textarea>
            <div class="invalid-feedback">Please provide a message.</div>
        </div>
        
        <div class="col-6 ">
            <label for="validationCustom03" class="form-label">Email</label>
            <textarea class="form-control" id="validationCustom03" placeholder="Enter your Email Address" name="message" rows="2" required></textarea>
            <div class="invalid-feedback">Please provide a message.</div>
        </div>

        <div class="col-6">
            <label for="validationCustom03" class="form-label">Phone Number </label>
            <textarea class="form-control" id="validationCustom03" placeholder="Enter your phone number" name="message" rows="2" required></textarea>
            <div class="invalid-feedback">Please provide a message.</div>
        </div>


       
        <div class="col-10">
            <label for="validationCustom03" class="form-label">Message</label>
            <textarea class="form-control" id="validationCustom03" placeholder="Enter your message" name="message" rows="5" required></textarea>
            <div class="invalid-feedback">Please provide a message.</div>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
                <div class="invalid-feedback">You must agree before submitting.</div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>
</div>




        
 




