@model WebAppRedo.Data.Models.ReminderDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Reminder Details</h1>
<br />
<hr />
<br />
    <div class="text-center">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form asp-action="Details">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group form-check form-switch col">
                    <label class="form-check-label fw-bold">
                        <input class="form-check-input" asp-for="IsComplete" id="IsComplete" runat="server" ReadOnly="true" /> @Html.DisplayNameFor(model => model.IsComplete)
                    </label>
                    <span asp-validation-for="IsComplete" class="text-danger"></span>
                </div>

                    <div class="form-group col">
                        <label asp-for="Name" class="control-label fw-bold"></label>
                    <input asp-for="Name" class="form-control bg-light" runat="server" ReadOnly="true" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                    <label asp-for="Description" class="control-label fw-bold"></label>
                    <input asp-for="Description" class="form-control bg-light" runat="server" ReadOnly="true" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="row justify-content-between">
                    <div class="form-group form-check form-switch col-md-6 " runat="server" ReadOnly="true">
                        <label class="form-check-label fw-bold" runat="server" ReadOnly="true">
                                <input class="form-check-input" asp-for="HasAlarms" id="hasAlarm" runat="server" ReadOnly="true" /> @Html.DisplayNameFor(model => model.HasAlarms)
                            </label>
                            <span asp-validation-for="HasAlarms" class="text-danger" runat="server" ReadOnly="true"></span>
                        </div>

                    <div class="form-group form-check form-switch col-md-6" runat="server" ReadOnly="true">
                        <label class="form-check-label fw-bold" runat="server" ReadOnly="true">
                                <input class="form-check-input" asp-for="Periodic" id="hasPeriodic" runat="server" ReadOnly="true" /> @Html.DisplayNameFor(model => model.Periodic)
                            </label>
                            <span asp-validation-for="Periodic" class="text-danger" runat="server" ReadOnly="true"></span>
                        </div>
                    </div>

                    <div class="row justify-content-between">
                        <div class="col-md-5">
                            <div class="form-group" id="Alarm">
                            <label asp-for="Alarm" class="control-label fw-bold"></label>
                            <input asp-for="Alarm" class="form-control form-control bg-light" runat="server" ReadOnly="true" />
                                <span asp-validation-for="Alarm" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group" id="PeriodicAlarm">
                            <label asp-for="TimeFrameSelection" class="control-label fw-bold"></label>
                            <input asp-for="TimeFrameSelection" class="form-control bg-light" runat="server" ReadOnly="true" />
                                <span asp-validation-for="TimeFrameSelection" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-between">
                        <div class="col-md-5">
                     
                        </div>

                        <div class="col-md-5">
                            <div class="form-group" id="PeriodicAlarmText">
                            <label asp-for="PeriodicAlarm" class="control-label fw-bold"></label>
                            <input asp-for="PeriodicAlarm" class="form-control bg-light" runat="server" ReadOnly="true" />
                                <span asp-validation-for="PeriodicAlarm" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                <div class="form-group col">
                    <label asp-for="UserId" class="control-label fw-bold"></label>
                    <input asp-for="UserId" class="form-control bg-light" runat="server" ReadOnly="true" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>

                </form>
            </div>
        </div>
    </div>
<br />
<hr />
<div class="text-center">
    <button class="bg-primary rounded-pill">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="text-white text-decoration-none">Edit</a>
    </button>
    <button class="bg-primary rounded-pill">
        <a asp-action="Index" class="text-white text-decoration-none">Back to List</a>
    </button>
 @*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> *@
</div>



<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script>
    window.onload = function () {
        const hasAlarmValue = document.getElementById('hasAlarm').checked;
        const alarmInput = document.getElementById('Alarm');

        if (hasAlarmValue) {
            alarmInput.style.display = 'block'; // Show the input field
        } else {
            alarmInput.style.display = 'none'; // Hide the input field
        }

        const hasPeriodic = document.getElementById('hasPeriodic').checked;
        const PeriodicAlarm = document.getElementById('PeriodicAlarm');
        const PeriodicAlarmText = document.getElementById('PeriodicAlarmText');

        if (hasPeriodic) {
            PeriodicAlarm.style.display = 'block'; // Show the input field
            PeriodicAlarmText.style.display = 'block';
        } else {
            PeriodicAlarm.style.display = 'none'; // Hide the input field
            PeriodicAlarmText.style.display = 'none';
        }
    };
</script>
