<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppRedo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppRedo.styles.css" asp-append-version="true" />
</head>
<body>
    <head1>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3" style="background-color: #0c2536; background-image: linear-gradient(160deg, #0c2536 0%, #0c29ca 100%);">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Mystic To Do</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grows-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Reminders"
                                   asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Contact</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
        <!--<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Mystic To Do</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Contact</a>
                        </li>
                        </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>-->
    @* <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> *@
        <title>Task Reminder</title>

        <style>
            .rakkas-regular h2 {
                font-family: "Rakkas", serif;
                font-weight: 400;
                font-style: normal;
            }

            h2{
                margin-left:50px;
                margin-bottom:30px;

            }
            input{
                margin-left:50px;
                margin-bottom: 30px;
                border:none;

                
            }

             table {
                width:90%;
                border-collapse: collapse;
                margin-right: 50px;
                margin-left 
            } 




             th, td {
              border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                width: 2px; 

            }

            tr:nth-child(even) {
                background: white;
                width: 23px; 
            } 
 

            #taskTable{
                 margin-left: 50px;
                 margin-bottom: 30px;

            }
            body{
                background-color: #1ad0f4;
            }
            button{
                background-color: #43a1d0;
                border-radius:7px;
                border-block:none;

            }
        </style>
    </head1>
    <body1>
        @RenderBody();
      <h2>Task Reminder</h2>
      <dv id="taskInputField ">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <input type="text" id="taskInput" class="form-control" placeholder="Enter task"/>
                    </div>
                    <div class="col">
                        <input type="text" id="taskDescription" class="form-control" placeholder=":Enter description"/>
                    </div>
                <div class="row">
                    <div class="form-check form-switch col-auto">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Alarm</label>
                    </div>
                    <div class="col">
                        <input type="date" id="alarmDate" class="form-control" />
                    </div>
                    <div class="col">
                        <input type="time" id="alarmTime" class="form-control" />
                    </div>
                <div class="row">
                            <div class="form-check form-switch col-auto">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Periodic</label>
                            </div>
                            <div class="col">
                                <input type="date" id="periodicDate" class="form-control" />
                            </div>
                            <div class="col">
                                <input type="time" id="periodicTime" class="form-control" />
                            </div>
                </div>
                <button onclick="addTask()">Add Task</button>
            </div>
      </dv>
       

        <table id="taskTable">
             <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Active</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Alarm</th>
                        <th>Alarm Date</th>
                        <th>Alarm Time</th>
                        <th>Periodic</th>
                        <th>Frequency</th>
                        <th>Periodic Date</th>
                        <th>Periodic Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><input type="checkbox" checked></td>
                        <td>Task 1</td>
                        <td>Description 1</td>
                        <td><input type="checkbox"></td>
                        <td>2024-03-28</td>
                        <td>08:00 AM</td>
                        <td><input type="checkbox"></td>
                        <td>Daily</td>
                        <td>2024-03-28</td>
                        <td>08:00 AM</td>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
             </table>
            <tr>
                <th>Task</th>
                <th>Action</th>
            </tr> 
            <!-- Tasks will be dynamically added here -->
        </table>  
        <br>
        
        <script>
            function addTask() {
                var task = document.getElementById("taskInput").value;
                if (task === "") {
                    alert("Please enter a task");
                    return;
                }
                var table = document.getElementById("taskTable");
                var row = table.insertRow(-1);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                cell1.innerHTML = task;
                cell2.innerHTML = "<button onclick='deleteTask(this)'>Delete</button>";
                document.getElementById("taskInput").value = "";
            }
            function deleteTask(row) {
                var rowIndex = row.parentNode.parentNode.rowIndex;
                document.getElementById("taskTable").deleteRow(rowIndex);
            }
        </script>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Mystic To Do - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
   </body1>
</body>
</html>
