@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/WebAppRedo.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="text-center">
    <h1 class="display-4">Mystic To Do</h1>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="NewFolder/reminder.png" class="d-block w-100" alt="Reminder Image">
            </div>
            <div class="carousel-item">
                <img src="class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="<img src=" c:\users\shemar campbell\source\repos\jdowner1241\ead_mystictodo\webappredo\views\home\newfolder\reminder-1922255_1280.png"  class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>






<style>
  .display-4{
      font-family:;
  }
</style>